
{% extends 'base.html' %}
{% block content %}
{% load static %}   
</br>
    <div class="container">
    <form class="row g-3" action="{% url 'questionario' %}" method="POST">
        {% csrf_token %} 
  <div class="col-md-6">
    <label for="inputname" class="form-label">Nome</label>
    <input type="text" class="form-control" id="inputname">
  </div>
  <div class="col-md-6">
    <label for="inputsobrenome" class="form-label">RG</label>
    <input type="text" class="form-control" id="rg">
  </div>
  <div class="col-md-6">
    <label for="inputname" class="form-label">Data de Nascimento</label>
    <input type="date" class="form-control" id="inputname">
  </div>
  <div class="col-md-6">
    <label for="inputname" class="form-label">Telefone</label>
    <input type="text" class="form-control" id="phone" placeholder="(16) 99999-9999">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Endereço</label>
    <input type="text" class="form-control" id="inputAddress1" placeholder="">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Estado</label>
    <select id="inputState" class="form-select">
      <option selected>Escolha</option>
      <option>São Paulo</option>
      <option>Rio de Janeiro</option>
      <option>Minas Gerais</option>
      <option>Paraná</option>
      <option>Bahia</option>

    </select>
  </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">CEP</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
  <div class="col-12">
    <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          M
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          F
        </label>
      </div>
    </div>
  </fieldset>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar e responder questionário</button>
  </div>
</form></br>
    
  </br>
{% endblock %}
   
    
   





