{% extends 'base.html' %}
{% block content %}
{% load static %}
</br>
<div class="container">

    <form method="POST" action=".">
        <div class="col-12">
        </div><fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          Sim
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Não
        </label>
      </div>
    </div>
  </fieldset>

    </form>


</div>
{%endblock%}